<div id="team">
  <div class="container-item">
    <h2 class = "text-center">This template is built with <i class="fa fa-heart"></i> by</h2>
    <ul class="list-inline text-center">
      <% ["KindScrabble","emilykburns"].each do |gh_username| %>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "avatar-large" %>
          <p><%= gh_username.capitalize %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>



